*{
     font-family: "Poppins", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .scrollbar-hide {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }
  }
::-webkit-scrollbar {
      width: 8px;
      height: 50px;
    }

::-webkit-scrollbar-thumb {
      background-color: #8b5cf6; 
    }

::-webkit-scrollbar-track {
      background-color: transparent;
      width: 0;
    }
  html{
    scroll-behavior: smooth;
  }
  nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 8;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  }
  @media (max-width:1023px) {
    nav ul{
      position: fixed;
      top: 70px;
      left: 0;
      flex-direction: column;
      right: 0;
      background-color: #ffffff;
      z-index: 8;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      padding: 60px 30px;
      transform: translateX(-2000px);
      transition: all .3s ease-in-out;
    }
    nav ul.open{
      transform: translateX(-0px);
    }
    nav ul li{
      padding: 10px;
    }
  }
  @media (max-width:420px) {
    .contactEmail{
      width: 370px;
    }
  }
  @media (max-width:389px) {
    .contactEmail{
      width: 300px;
    }
  }
  .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  @layer base {
  :root {
          --radius: 0.5rem;
     }
}
